body{
    margin: 0;
background-color: #34495e;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 30px;
}
header{
background-color:#2c3e50;
text-align: center;
padding-top: 35px;
padding-bottom: 15px;
box-shadow: 0 10px 10px -10px rgb(1, 175, 255);
}

header h1{
    color:rgb(255, 255, 255);
  font-style: italic;
    font-size: 35px;
 
}
h1, h2, h3, h4{
    font-family: 'Ruluko', sans-serif;
}
header img{
    width: 300px;
    height: 300px;
object-fit: cover;
border-radius: 170px;
box-shadow: 2px 10px 15px #2980b9;
margin-top: 20px;
margin-bottom: 20px;
}



main{
    max-width:  800px;
 text-align: center;  
 margin: 0 auto; 
}

main img{
    width: 100%;
}
 
h2{
    color:rgb(235, 235, 235);
    margin-bottom: -10px;
    margin-top :10px;
}

a{
    color:rgb(235, 235, 235);
    text-decoration: none;
}

a:hover{
    color:rgb(0, 78, 122);
    text-decoration: underline;
}
p{
    color:white;
    font-size: 18px;
}
 li{
    color:white;
    font-size: 18px;
}
footer{
background-color: #2c3e50;
text-align: center;
color:whitesmoke;
padding: 20px;;
box-shadow: 0 -10px 10px -10px rgb(1, 175, 255);
}

.Caption
{
color: whitesmoke;
font-size: 16px;
margin-top: -10px;
font-style: oblique;
}